<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Your Task</h1>
        <% if (result?.length>0) { %>
            <p>
                <% result.forEach(element=> { %>
                    <p>
                        <%= element.task %>
                    </p>
                    <form action="/delete?task=<%=element.task%> " method="post">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/update?task=<%=element.task%> " method="post">
                        <input type="text" placeholder="Enter your updated task" name="updatedTask">
                        <button type="submit">Update</button>
                    </form>
                    <hr>
                    <% }) %>
            </p>
            <% } else { %>
                <p>No task found</p>
                <% } %>
    </div>
    <div>
        <form action="/" method="post">
            <input type="text" name="task" placeholder="Add new Task">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>